#steps ol {
  background-color: white;
  position: relative;
  overflow: hidden;
  counter-reset: wizard;
}

#steps li {
  position: relative;
  float: left;
  width: 16%;
  text-align: center;
  color: #484848;
  font-size: 16px;
}

#steps ol li::marker {
  display: none;
  color: #fff;
}

#steps li:before {
  counter-increment: wizard;
  content: counter(wizard);
  display: block;
  color: #fff;
  background-color: #e40520;

  text-align: center;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 2em;
  position: relative;
  left: 50%;
  font-weight: bold;

  margin-bottom: 1em;
  margin-left: -1em;
  z-index: 1;
}

#steps li + li:after {
  content: "";
  display: block;
  width: 100%;
  background-color: #e6e6e6;
  height: 2px;
  position: absolute;
  left: -50%;
  padding: 1px 0px;
  top: 1em;
  z-index: 0;
}

#steps ul li::marker {
  color: white;
}
#steps .current ~ li:after {
  background-color: #969696;
}

#steps .current ~ li:before {
  background-color: #e6e6e6;
  color: #999;
}

#steps ol li::marker {
  display: none;
  content: "#" counter(li) " ";
  color: rgba(255, 255, 255, 0);
}
